---

#
# PAGE CONFIGURATION (YAML Front Matter)
#

# PAGE LAYOUT
#layout: master-layout

# PAGE DATA (you can also define data in json or yaml files, i.e. src/templates/data/example.json)
meta:
pageTitle:  Homepage

---

{{>header}}

<main></main>


{{>footer}}